.circle{
	border-radius: 50%;
}
#logo{

	margin-top: 10vh;
	margin-bottom: 40px;
	width: 75%;
	max-width: 500px;

}


body{
	background-image: url("images/woodbackground.gif")
}

#movieDiv{

	min-height: 100vh;
}

#movieDisplay {
	background-image: url("images/dark_brick_wall2X.png");
	height: 100%;
	border-radius: 10px;
	padding: 15px;
	margin-top: 10vh;
	margin: 5vh;
}

.movieHeader {
	font-family: 'Vidaloka', serif;
	letter-spacing: 5px;
	color: #ba4145;
	font-size: 34px;
	line-height: 35px;
}



#foodDiv {

	min-height: 100vh;
	
}

#foodDisplay {

	background-image: url("images/ricepaper_v32X.png");
	height: 100%;
	border-radius: 10px;
	padding: 15px;
	margin-top: 10vh;
	margin-bottom: 20vh;
	margin: 5vh;
	
}

.foodHeader {
	font-family: 'Pacifico', cursive;
	letter-spacing: 2px;
	font-size: 34px;
	line-height: 33px;
	color: #289CDF;
}

#foodLabel {
	font-family: cursive;
	letter-spacing: 2px;
	font-size: 20px;
	color: #289CDF;
}

.scroll { 
	height: 30vh; 
	overflow-y: scroll; 
}

#foodButton{
	color: #289CDF;
}

#movieButton{
	color: #B64242;
}

#movieScroll{
	color: white;
}

#foodScroll {
	background-color: white;
	padding: 10px;

	border-radius: 5px;
	border: solid 1px #cccbc9;
}

#tinyLogo{
	height: 50px;
}

#landingDiv{
	min-height: 100vh;
}

#choicesDiv{
	min-height: 100vh;
}

.redLetters {

	color: #ba4145;
}

.smaller{
	width: 50%;
}

.movieLabel {
	font-family: 'Vidaloka', serif;
	letter-spacing: 2px;
	color: #ba4145;
	font-size: 20px;
}


.checkbox{
	display: inline-block;
}
.movieRouletteColor {
	color: white;

}

#resultsDiv{
	min-height: 100vh;
	margin-bottom: 20px;
	margin: 5vh;

}

.movieRouletteHeader{
	font-family: 'Vidaloka', serif;
	letter-spacing: 2px;
	color: white;
}



#movieRouletteDisplay{
	background-image: url("images/dark_brick_wall2X.png");
	height: 100%;
	border-radius: 10px;
	padding: 15px;
	margin-top: 20vh;
	margin: 10px;
	min-height: 80vh;
}

#foodRouletteDisplay {

	background-image: url("images/ricepaper_v32X.png");
	height: 100%;
	border-radius: 10px;
	margin-top: 20vh;
	margin-bottom: 20vh;
	margin: 10px;
	font-size: 16px;
	line-height: 30px;
	padding: 15px 40px;
	min-height: 80vh;
	
}

#restaurant-name{

	font-family: 'Pacifico', cursive;
	letter-spacing: 2px;

}

#blankDiv{
	min-height: 5vh;
}

#refreshButton{
	margin: 10px;
}

#menuDrop{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1;
}

#auto-location{
	margin-top: 5px;
}

footer{
	background: #913535;
	height: 100px;
	border-top: 10px solid #5391b2;
	padding-top: 10px;
	color: #D9D9D9;
	font-size: 15px;
}

#load{
	margin-top: 2px;
}

#landingDivAbout {
	margin-top: 10vh;
	margin-bottom: 10vh;
	background-color: #F4F4F4;
	
	border-radius: 15px;
	padding: 20px;
	font-size: 16px;
	line-height: 24px;
}

#aboutHead{
	font-family: 'Bad Script', cursive;
}

#aboutPage {
	
	min-height: 100%;
}

#logoAbout {
	max-height: 200px;
	min-height: 200px;
	margin-top: 30px;
}
#links{
	background-color: #B64242;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: #289CDF;
	text-decoration: none;
}
.small{
	font-size: 12px;

}

.blueFont{
	color: #289CDF;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}